includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    tmpDir: tmp/phpstan/cache
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: true
    checkMissingCallableSignature: true
    checkMissingVarTagTypehint: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    fileExtensions:
        - php
        - stub
    excludePaths:
        - tests/
        - vendor/
        - storage/
        - bootstrap/cache/
