openapi: 3.0.3
info:
  title: COPRRA API
  description: |
    Comprehensive API documentation for the COPRRA (Comprehensive Online Price Research and Recommendation Application) platform.
    
    This API provides endpoints for:
    - Product management and search
    - Price comparison and tracking
    - User authentication and authorization
    - AI-powered recommendations
    - Security and monitoring
    - Performance analytics
    
    ## Authentication
    The API uses multiple authentication methods:
    - JWT Bearer tokens for API access
    - Session-based authentication for web interface
    - OAuth2 for third-party integrations
    
    ## Rate Limiting
    API requests are rate-limited to ensure fair usage and system stability.
    
    ## Error Handling
    All endpoints return standardized error responses with appropriate HTTP status codes.
  version: 1.0.0
  contact:
    name: COPRRA Development Team
    email: dev@coprra.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.coprra.com/v1
    description: Production server
  - url: https://staging-api.coprra.com/v1
    description: Staging server
  - url: http://localhost:8000/api/v1
    description: Development server

security:
  - bearerAuth: []
  - sessionAuth: []

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Returns the health status of the API
      tags:
        - System
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: "1.0.0"

  /auth/login:
    post:
      summary: User authentication
      description: Authenticate user and return access token
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    example: "Bearer"
                  expires_in:
                    type: integer
                    example: 3600
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /products:
    get:
      summary: List products
      description: Retrieve a paginated list of products with optional filtering
      tags:
        - Products
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Number of items per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: search
          in: query
          description: Search term for product name or description
          schema:
            type: string
        - name: category
          in: query
          description: Filter by category
          schema:
            type: string
        - name: min_price
          in: query
          description: Minimum price filter
          schema:
            type: number
            format: float
        - name: max_price
          in: query
          description: Maximum price filter
          schema:
            type: number
            format: float
      responses:
        '200':
          description: Products retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    sessionAuth:
      type: apiKey
      in: cookie
      name: laravel_session

  schemas:
    Product:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Wireless Bluetooth Headphones"
        description:
          type: string
          example: "High-quality wireless headphones with noise cancellation"
        price:
          type: number
          format: float
          example: 199.99
        currency:
          type: string
          example: "USD"
        category:
          type: string
          example: "Electronics"
        brand:
          type: string
          example: "TechBrand"
        image_url:
          type: string
          format: uri
          example: "https://example.com/images/product1.jpg"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20
        total:
          type: integer
          example: 150
        last_page:
          type: integer
          example: 8
        from:
          type: integer
          example: 1
        to:
          type: integer
          example: 20

    Error:
      type: object
      properties:
        error:
          type: string
          example: "Authentication failed"
        message:
          type: string
          example: "Invalid credentials provided"
        code:
          type: integer
          example: 401
        timestamp:
          type: string
          format: date-time

tags:
  - name: System
    description: System health and status endpoints
  - name: Authentication
    description: User authentication and authorization
  - name: Products
    description: Product management and search operations
  - name: Users
    description: User management operations
  - name: Analytics
    description: Analytics and reporting endpoints
  - name: AI
    description: AI-powered recommendation endpoints